/* CSS Document */
button,a {
	cursor: pointer !important
}

a:focus {
	outline: none
}

a:link,a:visited,a:active,a:focus,a:hover {
	text-decoration: none
}

select,.adm-search {
	margin: 0px 20px 10px 0
}

thead a {
	color: #333 !important
}

body {
	margin-top: 20px;
	overflow-x: hidden;
}

h3,.neme h4,.sidebar {
	font-family: "微软雅黑";
	font-weight: bold
}

.center {
	text-align: center;
}

.red {
	color: red !important
}

.black {
	color: #333
}

.violet {
	color: #c20a0a
}

.green {
	color: green !important
}

.abs {
	position: absolute
}

.rel {
	position: relative
}

.right {
	float: right
}

.left {
	float: left
}

.cle,.details {
	clear: both
}

.none {
	display: none
}

.block {
	display: block
}

.adm-cover {
	width: 100%;
	height: 102%;
	top: -20px;
	z-index: 1060;
	background-color: rgba(0,0,0,1)
}

.adm-pop {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: -1
}

.sidebar {
	background: #2f4050;
	border-right: 1px solid rgba(0,0,0,0.5);
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: -1px;
	z-index: 2;
	border-right: 2px;
	width: 135px;
	font-size: 14px;
	padding-top: 20px;
}

input[type="checkbox"] {
	margin-right: 5px
}

.admin {
	margin-top: 50%
}

.navbar-inverse {
	background-color: #fff;
	border-color: #fff !important
}

.sidebar a,.sidebar span {
	color: #a7b1c2;
	padding-left: 5px
}

.sidebar li a:hover,.sidebar ul li a:focus,.act {
	color: #f1f1f1;
	background: #263949
}

.active a,.sidebar,.adm-hend a,.adm-hend {
	color: #f1f1f1
}

.bg {
	background-color: #fff;
	opacity: 0.5;
	position: fixed !important;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 3
}

.animate {
	background: rgba(0,0,0,0.2);
	padding: 10px;
	margin-bottom: 10px
}

.modal-ok {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
	border: 5px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	color: rgba(255, 0, 0, 0.8);
	font-family: "微软雅黑";
	position: fixed !important;
	z-index: 1060 !important
}

.neme {
	height: 35px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px
}

.neme h5 {
	margin-left: 10px
}

.details {
	white-space: nowrap;
	height: auto
}

.details .col-md-9 {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

.info-details {
	height: auto;
	width: 90%;
	margin: 0 auto;
	padding: 5px;
	border-bottom: 1px solid #ccc
}

.info-details .details {
	height: 30px;
	width: 100%
}

.col-md-3 {
	text-align: right;
	color: #333
}

.col-md-9 {
	margin-bottom: 5px;
	color: #666
}

.col-md-12 {
	margin-bottom: 10px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.list {
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	width: 25%;
	word-break: keep-all
}

.adm-abs {
	margin-left: 90%
}

.text-div {
	box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.04) inset;
	border: 1px solid #ccc;
	cursor: text;
	font-size: 14px;
	margin: 0;
	outline: 0 none;
	overflow: auto;
	word-wrap: break-word;
	border-radius: 2px;
	min-height: 80px;
	padding: 5px;
	width: 100%;
	z-index: auto
}

.overflow {
	width: 100%;
	height: 160px;
	padding: 5px;
	margin: 10px 0;
	overflow: auto
}

.adm-search {
	width: 260px
}

.user-p {
	color: #888
}

.offno {
	text-align: center !important;
	width: 100%;
	font-weight: bold !important
}

.navbar-header,.adm-font {
	line-height: 40px
}

.adm-font {
	color: #fff
}

.adm-tail {
	border-top: 1px solid #ccc;
	padding: 10px 0
}

.neme h5,.adm-tail {
	text-align: center;
	line-height: 25px
}

.photo-img {
	background: #fff;
	border: 5px solid rgba(255,255,255,0.5);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-right: 10px;
	margin: 0 auto
}

.adm-hend {
	width: 135px;
	margin-right: 10px;
	height: 35px;
	float: left;
	background: #2f4050;
	line-height: 35px;
	margin-bottom: 20px;
	padding-left: 10px
}

tr {
	border-bottom: 1px solid #ccc
}

.adm-check,.details {
	line-height: 30px
}

.photo-img img {
	border-radius: 50%;
	height: 100% !important;
	width: 100% !important
}

.text-left,.col-sm-3 {
	text-align: left
}

.adm-user {
	padding: 0 10px;
	height: auto;
	float: left;
	z-index: 1
}

.offno .black b {
	margin: 0 5px
}

@media screen and (min-width: 1200px) {
	#pagewrap {
		width: 94%
	}

	#content {
		width: 65%
	}

	#sidebar {
		width: 30%
	}

	.adm-user {
		float: left!important;
		width: 90%;
		padding: 0 15px
	}

	.modal-ok {
		width: 500px;
	}

	.neme {
		width: 50%
	}

	.table-re {
		height: 600px
	}
}
/* PC客户端或大屏幕设备: 1028px 至更大 */
@media only screen and (min-width: 1029px) {
 
	#pagewrap {
		width: 94%
	}

	#content {
		width: 65%
	}

	#sidebar {
		width: 30%
	}

	.adm-user {
		float: left!important;
		width: 90%;
		padding: 0 15px
	}

	.col-md-3 {
		width: 100px
	}

	.modal-ok {
		width: 500px
	}

	.table-res {
		height: 600px
	}
}

@media (min-width: 768px) {
	.adm-user {
		float: right !important;
		width: 90%;
	}

	.col-md-3 {
		width: 100px;
		float: left
	}

	.modal-ok {
		width: 500px;
	}

	.neme {
		width: 50%
	}

	.table-res {
		height: 600px;
		overflow-y: auto !important;
		overflow-x: auto !important
	}
}
/* 平板之类的宽度 1024 以下设备 */
@media only screen and (min-width: 321px) and (max-width: 1024px) {
	.adm-user {
		float: right !important;
		width: 90%;
	}

	.col-md-3 {
		width: 100px;
		float: left
	}

	.modal-ok {
		width: 80%;
	}

	.user-p {
		margin-top: -30px
	}

	.table-res {
		height: 200px;
		overflow-y: auto !important;
		overflow-x: auto !important
	}
}
/* 手机等小屏幕手持设备 */
@media screen and (min-width: 320px) and (max-width: 480px) {
	.col-md-12 {
		height: 350px
	}

	.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
		font-size: 15px !important;
		font-weight: bold;
		line-height: 1.25
	}

	.adm-user {
		float: left !important;
		width: 100%;
	}

	h2, .h2 {
		font-size: 14px !important
	}

	.panel-body img {
		width: 30px;
		height: 30px
	}

	#header {
		height: auto
	}

	h1 {
		font-size: 24px
	}

	#sidebar {
		display: none
	}

	.col-md-9 {
		width: 40%;
		float: left
	}

	.col-md-3 {
		width: 100px;
		float: left
	}

	.modal-ok {
		width: 90%;
	}

	.table-res {
		height: 200px;
		overflow-y: auto !important;
		overflow-x: auto !important
	}
}

.font_text {
	width: 100%;
	height: 90px;
	border: 1px solid #ccc;
	padding: 5px;
	color: #333;
	border-radius: 2px;
}

.font_text:hover,.font_text:active,.font_text:focus {
	border: 1px solid #4d90fe;
}